@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(240, 239, 243);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 400px;
    height: 520px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 20px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    display: none;
}

.container form{
    width: 100%;
    border: 2px solid rgb(80, 75, 250);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 10px;
}

.container form i{
    padding-left: 10px;
}

.product{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 8px;
}

.product-list{
    padding: 10px 0;
}

.product img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.product .p-details{
    padding-left: 15px;
}

.product .p-details h2{
    font-size: 20px;
    color: rgb(19, 17, 17);
}

.product .p-details h3{
    font-size: 18px;
}
